.list-group-item {
  background-color: rgb(245, 238, 229);
}
h1 {
  font-weight: 700;
  color: rgb(40, 35, 33);
}
.my-btn {
  background-color: transparent;
  border: none;
  color: rgb(187, 26, 26);
  padding: 12px;
}
.form-control {
  background-color: rgb(245, 238, 229);
}
.form-control:focus {
  background-color: rgb(245, 238, 229);
}
a {
  color: initial;
  text-decoration: none;
}
