<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoList</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body class="bg-secondary">
    <div class="container">
      <h1 class="mb-5">To do list</h1>
    </div>
    <!-- container con id app che conterrà il contenuto dinamico -->

    <div class="container" id="app">
      <!-- input area -->
      <form class="d-flex w-50">
        <div class="pe-2 flex-grow-1">
          <label for="newTask" class="visually-hidden"></label>
          <input
            type="text"
            class="form-control"
            id="newTask"
            placeholder="Inserisci la nuova task"
            v-model="newText"
          />
        </div>
        <div class="ps-2">
          <button
            type="submit"
            class="btn btn-primary mb-3"
            @click.prevent="getNewTask(newText)"
          >
            Crea Task
          </button>
        </div>
      </form>
      <!-- lista di cose -->
      <ul class="list-group shadow">
        <li
          v-for="task,i in tasksToDoArray"
          class="list-group-item d-flex justify-content-between align-items-center"
          :class="(task.done === true) ? 'text-decoration-line-through' : ''"
          @click="setDone(i)"
        >
          {{task.text}}
          <button class="my-btn" @click="removeTask(i)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </li>
      </ul>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
